@import url(https://fonts.googleapis.com/css?family=Poiret+One);

*{
    background-color: black;
}

body{
    min-height:100vh;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px auto;
    padding: 2px auto;
    padding-right:0px;
    width:100%;
    font-size:1.75em;
}

#root{
    height:100vh;
    width:100%;
    position: absolute;
}

.App{
    height:100vh;
}

.left-align, .right-align{
    flex-shrink: 0;
    flex-grow:0;
}

.right-align{
    right: 2%;
    align-self: right;
    float: right;
    display:flex;
    flex-direction: column;
    width:400px;
    height:100%;
}

.center-align{
    position: relative;
    display:flex;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
}

.left-align{
    display:flex;
    flex-direction: column;
    float:left;
    width:450px;
    height:300px;
}

.top-align{
    padding-top:2%;
}

.top-align, .bottom-align{
    height:30%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-middle-align{
    height:50%;
    position: relative;
}

.bottom-middle-align{
    height:5%;
    position: relative;
}

.inlineWrapper{
    display:block;
    float:left;
    height:32%;
    width:100%;
    padding-top:1%;
    font-size: 140%;
}

.inlineWrapper:first-of-type{
    padding-top: 0%;
}

.current, .forecast{
    display:block;
    width:99%;
}

.current{ 
    height:69%;
    margin-bottom:0px;
}

.forecast{
    height:29%;
    padding-top:2px;
}

.description, .metrics{
    height:100%;
    display:block;
    float:left;
}

.description{
    width:39%;
    text-align: center;
}

.metrics{
    width:60%;
}

.weatherCondition{
    font-size: 65%;
}

.icon{
    font-size: 400%;
}

.miniIcon{
    float:left;
    margin-right:10px;
}

.temperature{
    font-weight:bold;
}

.hour{
    height:100%;
    width:16%;
    float:left;
    text-align: center;
}

.forecastTime{
    font-size: 50%;
}

.temp{
    font-size: 80%;
}

.portfolioTotal {
    font-weight:bold;
    font-size: 125%;
    margin-right: 10px;
}

.portfolioChange{
    padding-left:4px;
    padding-top:4px;
}

.changeIcon{
    padding-top:6px;
}

.time{
    font-weight: bold;
    font-size: 500%;
    text-align: right;
    line-height: 50%;
    padding-bottom: 30px;
    margin-top:20px;
}

.date{
    text-align: right;
    font-size: 120%;
}

.compliment{
    text-align:center;
    width: 100%;
    position: absolute;
    vertical-align: bottom;
    bottom:0%;
    font-size:130%;
}

.running{
    width:500px;
    height:120px;
    position: absolute;
    left:5px;
    bottom:15px;
}

.runBig{
    height:70%;
    width:100%;
    top:0px;
    position: inherit;
    font-size:250%;
    font-weight:bold;
    text-align: center;
}

.runSmall{
    height:30%;
    padding-left: 30px;;
    bottom:0px;
    font-size:150%;
    text-align: center;
    position:absolute;
   

}

.calIcon{
    width:20%;
    float:left;
}

.runIcon{
    width:15%;
    float:left;
}

.total_run{
    float:left;
    padding-left: 40px;;
}

.ytd_run{
    float:left;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes fade {
    7%,93% {opacity: 1} 
    0%,100% {opacity: 0};
}
@-o-keyframes fade {
    7%,93% {opacity: 1} 
    0%,100% {opacity: 0};
}
@-moz-keyframes fade {
    7%,93% {opacity: 1} 
    0%,100% {opacity: 0};
}
@-webkit-keyframes fade {
    7%,93% {opacity: 1} 
    0%,100% {opacity: 0};
}
